*.db
*.log
*.in
visual_studio/x64/
visual_studio/.vs/
design_margins/
DOE_results/
LHS_DOE/
progress/
__pycache__/
.settings/
Makefile
*.exe
*.ipdb
*.iobj
bin/MADS_output
bin/Input_files
Job_results/
SGTE_matlab_server/
graphics/
Optimization_studies/
SBD_opt/
*.svg
*.sgt
*.project
*.pydevproject
*.vsdx