.vscode/
__pycache__/
*.pyc
*.pdf
*.csv
*.xlsx
*.sgt
*.svg
*.prefs
*.iobj
*.ipdb
.project
.pydevproject
flag_pong
flag_predict_finished
design_margins/
DOE_results/*.png
DOE_results/*.html
DOE_results/req_opt_log.log
DOE_results/req_opt_E_log.log
DOE_results/feasiblity_log.log
DOE_results/Stagespace_output/
LHS_DOE/
MADS_output/
progress/
visual_studio/.vs/
visual_studio/x64/
visual_studio/Debug/
SBD_opt/
Job_results/Thermal_DOE_results/
Job_results/Results_log/
graphics/
Optimization_studies/
SGTE_matlab_server/
*.vsdx