
*.pyc
*.pdf
animations/presentation_1.aux
animations/presentation_1.bib
animations/presentation_1.log
animations/presentation_1.nav
animations/presentation_1.out
animations/presentation_1.snm
animations/presentation_1.synctex.gz
animations/presentation_1.tex
animations/presentation_1.toc
animations/presentationbib.tex
*.mat
*.png
*.pkl
*.npy
*.html
*.csv
*.xlsx
*.sgt
*.svg
*.txt
SGTE_matlab_server/models/flag_ping
SGTE_matlab_server/models/flag_metric_transmit
SGTE_matlab_server/models/.pydevproject
SGTE_matlab_server/models/.project
SGTE_matlab_server/debug
SGTE_matlab_server/.pydevproject
SGTE_matlab_server/.project
*.prefs
.project
.pydevproject
flag_pong
flag_predict_finished
*.vsdx
*.dll
Job_results/
MADS_output/
SBD_opt/MADS_output/
